.Optionbox {
  display: grid;
  height: max-content;
}

.Optionbox__button {
  appearance: none;
  padding: 10px;
  color: white;
  background-color: darkmagenta;
  border: none;
}

.Optionbox__options {
  display: grid;
  place-content: center;
  gap: 10px;
  color: white;
  background-color: cadetblue;
  margin: 0 5px;
  padding: 10px 0;
}

.Optionbox__box--one {
  display: flex;
  gap: 10px;
}
.Optionbox__box--two {
  display: flex;
  gap: 10px;
}
.Optionbox__box--three {
  display: flex;
  gap: 10px;
}

.Optionbox__optionsbutton {
  padding: 5px 15px;
  border: none;
  background-color: cornsilk;
}

.active {
  background-color: lightblue;
}
