.Optionbox {
  display: grid;
  height: max-content;
}

.Optionbox__button {
  appearance: none;
  padding: 10px;
  color: white;
  background-color: darkmagenta;
  border: none;
}

.Optionbox__options {
  display: grid;
}
