.Optionbox {
  display: grid;
  height: max-content;
}

.Optionbox__button {
  appearance: none;
  padding: 10px;
  color: white;
  background-color: darkmagenta;
  border: none;
}

.Optionbox__options {
  display: grid;
  gap: 5px;
  color: white;
  padding: 15px;
  background-color: cadetblue;
  margin: 0 5px;
}

.Optionbox__optionsbutton {
  padding: 5px;
  border: none;
  background-color: cornsilk;
}

.active {
  background-color: lightblue;
}
