.Card {
  display: grid;
  padding: 15px;
  background-color: cornflowerblue;
  box-shadow: 3px 4px 9px black;
}

.Card__subinfo {
  font-weight: normal;
  font-size: 0.7em;
}
.Card__img {
  width: 150px;
  border-radius: 50%;
}
