.Card {
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 15px;
  background-color: cornflowerblue;
  box-shadow: 3px 4px 9px black;
  text-align: center;
}

.Card__subinfo {
  font-weight: normal;
  font-size: 0.7em;
}

.Card__img {
  width: 250px;
  border-radius: 10%;
  box-shadow: 3px 5px 10px black;
}

.Card__button {
  appearance: none;
  padding: 10px;
  background-color: indigo;
  color: white;
  border: 1px solid white;
  box-shadow: 3px 5px 10px black;
}

.Card__infobox {
  background: azure;
  box-shadow: 3px 4px 10px black;
  border-radius: 10px;
  padding: 5px 15px;
  text-align: left;
  transition: all 5s;
}

.Card__infobox--top {
  font-weight: bold;
}
