.App {
  display: grid;
  grid-template-rows: 110px max-content;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.Content {
  display: grid;
  gap: 15px;
  padding: 15px;
  overflow-y: scroll;
  grid-auto-rows: max-content;
}
